/* AWAL STYLES UNTUK PORTFOLIO */
*,
html {
    padding: 0;
    margin: 0;
}

/* Style Body Sebagai Ketentuan Max (Width & Height) */
body {
    background-color: white;
    width: 100%;
    height: 100%;
}

/* Style Efek Dark-Mode Pada Portfolio */
.minimMode {
    background-color: rgb(226, 226, 213);
    color: black;
}

/* Style Tombol Toggle Untuk Dark/Light Mode */
#buttonToggleMode {
    position: absolute;
    top: 116px;
    left: 80px;
    width: 75px;
    height: 22px;
    border: 1px solid lightgray;
    color: black;
    font-size: 9px;
    font-family: arial;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    border-top-left-radius: 15%;
    border-top-right-radius:  15% 50%;
    border-bottom-left-radius: 15% 40%;
    border-bottom-right-radius: 15%;
    opacity: 85%;
    cursor: pointer;
    animation-name: buttonAnimateBlink;
    animation-duration: 6s;
    animation-delay: .01s;
    animation-timing-function: linear;
    animation-direction: normal;
    z-index: 1;
}

/* Style Transisi Tombol Pada Mode Dark/Light */
#buttonToggleMode:hover {
    transition: 200ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-color: black;
    color: white;
    opacity: 75%;
    border: none;
    filter: drop-shadow(2px 2px 3px
    black);
    transform: translateY(3px);
    animation-name: buttonAnimateBW;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

/* Style Animasi Pembukaan */
#divWrapWelcome {
    margin-top: -5px;
    position: absolute;
    width: 100%;
    height: 1270px;
    background: linear-gradient(80deg, lightcoral, lightsalmon, lightcoral);
    color: black;
    border-radius: 4px;
    animation-name: welcomeAnimateDiv;
    animation-duration: 5.5s;
    animation-delay: .05s;
    animation-direction: normal;
    animation-timing-function: linear;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

@keyframes welcomeAnimateDiv {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

#h1Welcome {
    position: absolute;
    top: 180px;
    background: none;
    color: black;
    font-size: 5em;
    font-size: 'times new roman';
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    opacity: 70%;
    cursor: default;
    animation-name: textAnimateWelcome;
    animation-duration: 1s;
    animation-delay: 200ms;
    animation-timing-function: linear;
    animation-direction: normal;
}

#pWelcome {
    position: absolute;
    top: 258px;
    background: none;
    color: black;
    font-size: 1.4em;
    font-family: 'times new roman';
    font-weight: 500;
    font-style: italic;
    font-variant: normal;
    opacity: 70%;
    cursor: default;
    animation-name: textAnimateWelcome;
    animation-duration: .7s;
    animation-delay: 200ms;
    animation-direction: normal;
    animation-timing-function: linear;
}

#h4Welcome {
    position: absolute;
    top: 285px;
    font-size: 1.5em;
    font-family: 'times new roman';
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    opacity: 70%;
    cursor: default;
    animation-name: textAnimateWelcome;
    animation-duration: .5s;
    animation-delay: 200ms;
    animation-timing-function: linear;
    animation-direction: normal;
    filter: drop-shadow(0 0 3px
    black);
}

@keyframes textAnimateWelcome {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0);
    }
}

/* Style Bagian Header */
header {
    margin-top: 5px;
    background-color: lightslategray;
    color: black;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    filter: drop-shadow(0 0 8px
    gray);
    border-radius: 7px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    margin-left: 20%;
    margin-right: 20%;
    animation-name: marginAnimateHeader;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes marginAnimateHeader {
    0% {
        margin-left: 20%;
        margin-right: 20%; 
    }

    30%, 50% {
        margin-left: 5px;
        margin-right: 5px;
    }

    70%, 80% {
        margin-left: 7%;
        margin-right: 7%;
    }   

    100% {
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* Style Bagian Main */
main {
    display: block;
}

/* Style Section Pertama Di Main */
#section01 {
    height: 570px;
}

/* Style Section Kedua Di Main */
#section02 {
    height: 300px;
}

#section03 {
    height: 270px;
}

/* Style Bagian Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tHead {
    position: absolute;
    top: 8px;
    background: none;
    color: black;
    font-size: 2.4em;
    font-family: Georgia;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    opacity: 89%;
    cursor: default;
    filter: drop-shadow(0 0 4px
    black); 
}

#tHeadLow {
    position: absolute;
    top: 50px;
    background: none;
    color: black;
    font-size: 1em;
    font-family: arial;
    font-weight: 500;
    font-style: italic;
    font-variant: normal;
    opacity: 70%;
    cursor: default;
}

/* Style Profil Pada Nav */
#imgProfil {
    margin: 0;
    position: absolute;
    top: 110px;
    left: 15px;
    background: none;
    width: 45px;
    height: 45px;
    border: 2px solid black;
    border-radius: 50%;
    background: none;
    opacity: 70%;
    cursor: default;
    animation-name: profileAnimateBorder;
    animation-duration: 3s;
    animation-delay: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: drop-shadow(0 0 4px
    black);
}

@keyframes profileAnimateBorder {
    0% {
        filter: drop-shadow(0 0 4px
        black);
        opacity: 75%;
    }

    10% {
        filter: drop-shadow(0 0 4px
        brown);
        opacity: 70%;
    }

    20% {
        filter: drop-shadow(0 0 4px
        coral);
        opacity: 75%;
    }

    30% {
        filter: drop-shadow(0 0 4px
        pink);
        opacity: 70%;
    }

    40% {
        filter: drop-shadow(0 0 4px
        aqua);
        opacity: 70%;
    }

    50% {
        filter: drop-shadow(0 0 4px
        darkgreen);
        opacity: 75%;
    }

    60% {
        filter: drop-shadow(0 0 4px
        magenta);
        opacity: 70%;
    }

    70% {
        filter: drop-shadow(0 0 4px
        darkblue);
        opacity: 75%;
    }

    80% {
        filter: drop-shadow(0 0 4px
        lightgreen);
        opacity: 70%;
    }

    90% {
        filter: drop-shadow(0 0 4px
        darkred);
        opacity: 75%;
    }

    100% {
        filter: drop-shadow(0 0 4px
        black);
        opacity: 70%;
    }
}

/* Style Tombol Di Nav */
#button0, #button1, #button2, #button3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 12px;
    padding: 5px;
    position: relative;
    top: 6px;
    right: 40px;
    float: right;
    font-size: .6em;
    font-family: arial;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    border: 1px solid lightgray;
    border-top-left-radius: 15%;
    border-top-right-radius:  15% 50%;
    border-bottom-left-radius: 15% 40%;
    border-bottom-right-radius: 15%;
    background-color: rgb(243, 243, 243);
    color: black;
    opacity: 75%;
    cursor: pointer;
    animation-name: buttonAnimateBlink;
    animation-duration: 6s;
    animation-delay: .01s;
    animation-timing-function: linear;
    animation-direction: normal;
    transform: translateY(0);
    z-index: 1;
}

@keyframes buttonAnimateBlink {
    from {
        opacity: 0%;
    }

    to {
        opacity: 75%;
    }
}

/* Style Tombol Content >Before< */
#button0::before, #button1::before, #button2::before, #button3::before {
    position: relative;
    top: -1px;
    content: " :: ";
    font: 1em;
    font-weight: 700;
    background: none;
    color: white;
    opacity: 100%;
    cursor: default;
}

/* Style Transisi Tombol Saat Disentuh Cursor */
#button0:hover, #button1:hover, #button2:hover, #button3:hover {
    transition: 200ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-color: black;
    color: white;
    opacity: 75%;
    border: none;
    filter: drop-shadow(2px 2px 3px
    black);
    transform: translateY(3px);
    animation-name: buttonAnimateBW;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes buttonAnimateBW {
    0% {
        background-color: black;
        color: white;
    }

    50% {
        background-color: beige;
        color: black;
    }

    100% {
        background-color: black;
        color: white;
    }
}

/* Style Anchor Di Navbar Tombol */
a {
    color: black;
    text-decoration: none;
}


/* Style Transisi Anchor Pada Nabvar Text Tombol */
a:hover {
    transition: 200ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    color: lightcoral;
    text-decoration: underline;
}

#h2TextWL {
    position: absolute;
    top: 185px;
    left: 35px;
    background: none;
    color: black;
    font-size: 2em;
    font-family: 'lucida sans';
    font-weight: 600;
    font-style: italic;
    font-variant: normal;
    opacity: 85%;
    cursor: default;
}

#pTextWL {
    position: absolute;
    top: 220px;
    left: 35px;
    background: none;
    color: black;
    font-size: small;
    font-family: 'gill sans';
    font-weight: 400;
    font-style: normal;
    font-display: normal;
    opacity: 75%;
    cursor: default;
}

/* Style Display Form (comment) */
#divWrapForm {
    background-color: lightgray;
    color: black;
    position: relative;
    top: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 45px;
    margin-right: 0;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 15% 25%;
    border-bottom-right-radius: 15% 25%;
    width: 310px;
    height: 230px;
    float: left;
    opacity: 55%;
    animation-name: buttonAnimateBlink;
    animation-duration: 6s;
    animation-delay: .01s;
    animation-timing-function: linear;
    animation-direction: normal;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style Transisi Saat Cursor Menyentuh Form */
#divWrapForm:hover {
    transition: 200ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    filter: drop-shadow(3px 2px 5px
    black);
    width: 350px;
    opacity: 75%;
}

/* Style Display Result Dari Form (comment) */
#divWrapResult {
    background-color: lightgray;
    color: black;
    position: relative;
    top: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 45px;
    border: 1px solid black;
    border-top-left-radius: 15% 25%;
    border-bottom-left-radius: 15% 25%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 400px;
    height: 230px;
    float: right;
    opacity: 50%;
    animation-name: buttonAnimateBlink;
    animation-duration: 6s;
    animation-delay: .01s;
    animation-timing-function: linear;
    animation-direction: normal;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style Transisi Saat Cursor Menyentuh Result */
#divWrapResult:hover {
    transition: 200ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    filter: drop-shadow(3px 2px 5px
    black);
    width: 420px;
    opacity: 75%;
}

/* Style Text Judul Pada Form */
#textHead {
    position: absolute;
    top: 5px;
    left: 100px;
    background: none;
    color: black;
    font-size: 1em;
    font-family: arial;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    opacity: 90%;
    cursor: default;
}

/* Style Form Bagian Username */
#username {
    position: absolute;
    top: 25px;
    left: 40px;
    background-color: white;
    color: black;
    width: 160px;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1em;
    font-family: monospace;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 80%;
    text-align: center;
}

#username:hover {
    transition: 200ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-color: black;
    width: 170px;
    color: white;
    opacity: 90%;
}

/* Style Form Bagian Date */
#userDate {
    position: absolute;
    top: 60px;
    left: 40px;
    background-color: white;
    color: black;
    width: 160px;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1em;
    font-family: monospace;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 80%;
    text-align: center;
}

#userDate:hover {
    transition: 200ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-color: black;
    width: 170px;
    color: white;
    opacity: 90%;
}

/* Style Form Comment */
#userMassage {
    position: absolute;
    top: 120px;
    left: 40px;
    background-color: white;
    color: black;
    width: 160px;
    height: 75px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1em;
    font-family: monospace;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 80%;
    text-align: center;
}

#userMassage:hover {
    transition: 200ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    width: 170px;
    height: 80px;
    background-color: black;
    color: white;
    opacity: 90%;
}

/* Style Tombol Submit Pada Form */
#buttonSubmitT {
    position: absolute;
    top: 205px;
    left: 40px;
    width: 80px;
    background-color: black;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    opacity: 75%;
    cursor: pointer;
}

#buttonSubmitT:hover {
    transition: 200ms ease-in-out;
    background-color: white;
    color: black;
    width: 80px;
    opacity: 80%;
    border: 1px solid black;
}

/* Style Radio1 Pada Form */
#spanRadio1 {
    position: absolute;
    top: 88px;
    left: 40px;
    background: none;
    font-size: small;
    font-family: georgia;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 90%;
    word-spacing: 3.8px;
}

/* Style Radio2 Pada Form */
#spanRadio2 {
    position: absolute;
    top: 103px;
    left: 40px;
    background: none;
    font-size: small;
    font-family: georgia;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 90%;
}

/* Style Icon Check Di Bagian Submit Form */
#checkIcon0 {
    position: relative;
    top: 100px;
    left: -75px;
    background: none;
    width: 16px;
    height: 16px;
    opacity: 50%;
    cursor: default;
    filter: drop-shadow(0 0 1px
    black);
}

/* Style Icon Pena Pada Form Bagian Input */
.penIcons {
    position: relative;
    background: none;
    width: 20px;
    height: 20px;
    opacity: 40%;
    cursor: default;
}

#penIcon0 {
    top: -75px;
    left: 77px;
}

#penIcon1 {
    top: -40px;
    left: 58px;
}

#penIcon2 {
    top: 45px;
    left: 39px;
}

/* Style Div Pada Bagian Section Pertama */
#divWrapMyProfile {
    position: relative;
    top: 130px;
    left: 38px;
    width: 510px;
    height: 335px;
    border: 1px solid black;
    border-top-left-radius: 5% 5%;
    border-bottom-left-radius: 5% 5%;
    border-top-right-radius: 15% 25%;
    border-bottom-right-radius: 15% 25%;
    background-color: lightgray;
    color: black;
    opacity: 80%;
    cursor: default;
    filter: drop-shadow(3px 2px 5px
    black);
    animation-name: profileAnimateM;
    animation-duration: 5s;
    animation-delay: 200ms;
    animation-timing-function: linear;
    animation-direction: alternate;
    transform: translateX(0);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes profileAnimateM {
    from {
        transform: translateX(-100px);
        opacity: 0%;
    }

    to {
        transform: translateX(0);
        opacity: 80%;
    }
}

/* Style Letak Text (MASSAGE ME!) */
#textMassageMeMiddle {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -520px;
    left: 220px;
    background: none;
    color: lightgrey;
    font-size: 6.5em;
    font-family: Verdana;
    font-weight: 600;
    font-style: italic;
    font-variant: normal;
    opacity: 15%;
    cursor: default;
    filter: drop-shadow(0 0 6px
    black);
    text-decoration: overline underline wavy;
}

/* Style Text Header (about me) Di Portfolio */
#profileHead {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 10px;
    background: none;
    color: black;
    font-size: 2em;
    font-family: 'times new roman';
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    opacity: 80%;
    cursor: default;
}

/* Style Double Div Sebagai Status Profil */
#divWrapStatusProfile {
    margin-top: 0;
    position: relative;
    top: -50px;
    width: 77%;
    height: 120px;
    background-color: rgb(160, 160, 160);
    color: black;
    border: 1px solid black;
    border-radius: 7px;
    opacity: 80%;
    cursor: default;
    filter: drop-shadow(0 0 4px
    gray);
    animation-name: divAnimateProfile1;
    animation-duration: 7s;
    animation-delay: .8s;
    animation-timing-function: linear;
    animation-direction: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes divAnimateProfile1 {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/* Style Profile Name Di About-Me */
#profileName0 {
    position: absolute;
    top: 4px;
    left: 10px;
    font-size: 1em;
    font-family: Verdana;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 90%;
    cursor: default;
}


/* Style Profile Age Di About-Me */
#profileAge0 {
    position: absolute;
    top: 21px;
    left: 86px;
    font-size: 1em;
    font-family: Verdana;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 90%;
    cursor: default;
}

/* Style Profile Status Di About-Me */
#profileStatus0 {
    position: absolute;
    top: 36px;
    left: 78.5px;
    font-size: 1em;
    font-family: Verdana;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 90%;
    cursor: default;
}

/* Style Profile Hobby Di About-Me */
#profileHobby0 {
    position: absolute;
    top: 53px;
    left: 94px;
    font-size: 1em;
    font-family: Verdana;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 90%;
    cursor: default;
}

/* Style Profile FreeTime Di About-Me */
#profileFreeTime0 {
    position: absolute;
    top: 70px;
    left: 41px;
    font-size: 1em;
    font-family: Verdana;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 90%;
    cursor: default;
}

/* Style Profile Level-Coding Di About-Me */
#profileLevel0 {
    position: absolute;
    top: 85px;
    left: 27.5px;
    font-size: 1em;
    font-family: Verdana;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 90%;
    cursor: default;
}

/* Style Profile Type Di About-Me */
#profileType0 {
    position: absolute;
    top: 100px;
    left: 93px;
    font-size: 1em;
    font-family: Verdana;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    opacity: 90%;
    cursor: default;
}

/* Style Icons Pada Profile */
#bahasa3Icons {
    position: absolute;
    top: 320px;
    width: 200px;
    height: 45px;
}

/* Style Div Untuk Text-Text */
#divWrapTextProfile0 {
    position: absolute;
    top: 180px;
    width: 460px;
    background: none;
    color: black;
}

/* Style Text Di DIv Text-Text */
#textProfileText {
    font-size: .9em;
    font-family: 'segoe UI';
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    background: none;
    color: black;
    opacity: 90%;
    cursor: default;
}

#h3ResultHead {
    position: absolute;
    top: 12px;
    left: 30px;
}

#resultName {
    position: absolute;
    top: 75px;
    left: 30px;
}

#resultDatePlace {
    position: absolute;
    top: 95px;
    left: 30px;
}

#resultGender {
    position: absolute;
    top: 115px;
    left: 30px;
}

#resultMassage {
    position: absolute;
    top: 135px;
    left: 30px;
}

#resultDateLive {
    position: absolute;
    top: 40px;
    left: 30px;
}

#h5Thanks {
    position: absolute;
    top: 190px;
    background: none;
    color: black;
    font-size: 2em;
    font-family: arial;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    opacity: 50%;
    cursor: default;
}

/* Style Img-Banner Pada Portfolio */
.banner-img {
    position: absolute;
    top: 160px;
    right: 0;
    background: none;
    margin-right: 30px;
    width: 700px;
    height: 500px;
    border-radius: 10px;
    opacity: 65%;
    filter: drop-shadow(0 0 4px
    black);
    cursor: default;
}

/* AKHIR STYLES UNTUK PORTFOLIO */